{# templates/list/index.html.twig #} {% extends 'user/userPanel.html.twig' %} {% block
    body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">List of top technology companies</div>
                        <a href="{{ path('allScheduleUser', {'speciality': "nose"}) }}">nose</a>
                        <a href="{{ path('allScheduleUser', {'speciality': "glas"}) }}">glas</a>
                        <a href="{{ path('allScheduleUser', {'speciality': "rot"}) }}">rot</a>
                        <a href="{{ path('allScheduleUser', {'speciality': "all"}) }}">all</a>
                    </div>
        </div>
    </div>
{% endblock %}